@import "./variables.scss";
@import "./variables-dark.scss";

// Buttons
@mixin btn-style {
  color: var(--font-color);
  background-color: var(--bg-color);
  border: transparent;
  border-radius: 5px;
  transition: background-color 0.3s;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-color-adjusted-blue-light);
  }
}

// Inputs
@mixin input-style {
  padding: 8px 12px;
  font-family: inherit;
  font-size: 16px;
  background-color: var(--bg-color-adjusted-blue-light);
  color: var(--font-color);
}

// Input button group
.input-w-btn {
  display: grid;
  grid-template-columns: 3fr 1fr;
  box-shadow: var(--base-shadow);
  border-radius: 8px;
  input {
    @include input-style;
    border-radius: 8px 0 0 8px;
    border: transparent;
  }
  button {
    @include btn-style;
    border-radius: 0 8px 8px 0;
    background-color: var(--bg-color-adjusted-dark);
  }
}

// Tiles
.tiles {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);

  &.tiles-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  &.tiles-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  &.tiles-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  @media (max-width: 1079px) {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .tile-card {
    border-radius: 10px;
    padding: 12px;
    background-color: var(--bg-color-adjusted-dark);
    box-shadow: var(--base-shadow);
    &.single-line {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .tile-info-two-lines {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        gap: 4px;

        .tile-info-two-lines-sec {
          font-size: 14px;
          color: #aaa;
        }
      }
    }
  }
}
