@import "./variables.scss";
@import "./genericComponents.scss";

// General style
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  color: $font-color;
  background-color: $bg-color;
  font-family: sans-serif;

  #app {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
  }
  .container {
    margin: 20px auto;
    width: 90vw;
  }
  * {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &::after {
    display: block;
    content: "";
    transform: scaleX(0);
    border-bottom: 2px solid transparent;
    transition: transform 0.5s;
    transform-origin: 0% 50%;
  }

  &:hover::after {
    transform: scaleX(1);
    border-bottom: 2px solid $font-color;
  }
}

.foot {
  padding-top: 2px;
  position: absolute;
  bottom: 0;
  width: 100vw;
  background-image: $bg-img-hot-gradient;
  .foot-container {
    max-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 5px;
    background: $bg-color-adjusted-blue;
    div {
      margin: 0 2px;
    }
  }
}

.nav {
  padding-bottom: 2px;
  background-image: $bg-img-hot-gradient;

  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 15px;
    background: $bg-color-adjusted-blue;
    .nav-options {
      list-style: none;
    }
  }
}

.home-title {
  text-align: center;
  margin: 5px 0 20px 0;
  font-weight: bold;
  font-size: 24px;
}
