// Colors
$font-color: #3f3f3f;
$bg-color: #fcfcfc;
$bg-color-adjusted-blue: #fcfcff;

$bg-dark-red: lighten(#e00, 15%);
$bg-light-red: lighten(#a74312, 15%);
$bg-dark-orange: lighten(#c27f23, 15%);
$bg-light-orange: lighten(#db3, 15%);
$bg-green: lighten(#3a3, 15%);

// Bg images
$bg-img-hot-gradient: linear-gradient(to right, $bg-dark-red, $bg-light-orange);

// Shadows
$base-shadow: 0px 0px 2px #888;

// Transitions
$transition-delay: 0.2s;

// Remember to add variables in the two variables files !
html.light {
    --font-color: #{$font-color};
    --bg-color: #{$bg-color};
    --bg-color-adjusted-dark: #{darken($bg-color, 5%)};
    --bg-color-adjusted-blue: #{$bg-color-adjusted-blue};
    --bg-color-adjusted-blue-light: #{lighten($bg-color-adjusted-blue, 5%)};
    --bg-dark-red: #{$bg-dark-red};
    --bg-light-red: #{$bg-light-red};
    --bg-dark-orange: #{$bg-dark-orange};
    --bg-light-orange: #{$bg-light-orange};
    --bg-green: #{$bg-green};
    --bg-img-hot-gradient: #{$bg-img-hot-gradient};
    --base-shadow: #{$base-shadow};
    --transition-delay: #{$transition-delay};
}
