// Colors
$font-color: #ddc;
$bg-color: #333;
$bg-color-adjusted-blue: #33333c;

$bg-dark-red: #a00;
$bg-light-red: #a74312;
$bg-dark-orange: #c27f23;
$bg-light-orange: #db3;
$bg-green: #3a3;

// Bg images
$bg-img-hot-gradient: linear-gradient(to right, $bg-dark-red, $bg-light-orange);

// Shadows
$base-shadow: 0px 0px 2px #111;

// Remember to add variables in the two variables files !
html.dark {
    --font-color: #{$font-color};
    --bg-color: #{$bg-color};
    --bg-color-adjusted-dark: #{darken($bg-color, 5%)};
    --bg-color-adjusted-blue: #{$bg-color-adjusted-blue};
    --bg-color-adjusted-blue-light: #{lighten($bg-color-adjusted-blue, 5%)};
    --bg-dark-red: #{$bg-dark-red};
    --bg-light-red: #{$bg-light-red};
    --bg-dark-orange: #{$bg-dark-orange};
    --bg-light-orange: #{$bg-light-orange};
    --bg-green: #{$bg-green};
    --bg-img-hot-gradient: #{$bg-img-hot-gradient};
    --base-shadow: #{$base-shadow};
}
